<html>
<head>
  <title>Games, games, games, …</title>
  <meta charset="utf-8">
  <meta name="csrf-param" content="_csrf">
  <meta name="csrf-token" content="{{csrfToken}}">
  {{{css 'application'}}}
  <script>var globals = { socketeerId: '{{socketeerId}}' };</script>
</head>
<body>
  <div class="wrap">
    {{#flash}}
      <p class="{{type}}-message">{{msg}}</p>
    {{/flash}}

    {{{body}}}

    {{> partials/_notifications}}
  </div>
</body>
</html>
