<html>
<head>
  <title>Games, games, games, …</title>
  <meta charset="utf-8">
  <meta name="csrf-param" content="_csrf">
  <meta name="csrf-token" content="{{csrfToken}}">
  <link href='http://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>
  {{{css 'application'}}}
  <script>var globals = { socketeerId: '{{socketeerId}}' };</script>
</head>
<body>
  <div class="wrap with-chat">
    {{#flash}}
      <p class="{{type}}-message">{{msg}}</p>
    {{/flash}}

    {{{body}}}

    <section id="confirm-layer" class="layer small-size is-closed">
      <div class="wrap">
        <h3 class="title"></h3>
        <div class="text"></div>
        <button class="success-link">Ok</button>
        <a href="#" class="cancel-link">Cancel</a>
      </div>
    </section>

    {{> partials/_notifications}}
  </div>
</body>
</html>
