<html>
<head>
  <title>Games, games, games, …</title>
  <meta charset="utf-8">
  <meta name="csrf-param" content="_csrf">
  <meta name="csrf-token" content="{{csrfToken}}">
  {{{css 'application'}}}
</head>
<body>
  {{#if flash.info}}
    <p class="info-message">{{flash.info}}</p>
  {{/if}}
  {{#if flash.error}}
    <p class="error-message">{{flash.error}}</p>
  {{/if}}
  {{#if flash.success}}
    <p class="success-message">{{flash.success}}</p>
  {{/if}}

  {{{body}}}
</body>
</html>
