<html>
<head>
  <title>Multiplication</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
  {{/if}}

  <div class="fixed-bar">
    <ul class="nav-bar">
      <li class="username-you">{{username}}</li>
      <li> in a game of {{game.type}}:</li>
      <li id="score"></li>
    </ul>
  </div>
  <div class="wrap">
    <div id="gamefield"></div>
    <div id="chat" class="chat">
      <div class="content"></div>
      <input type="text">
    </div>
  </div>
  <script src="/javascripts/vendor/socket.io-0.9.11.js"></script>
  <script src="/javascripts/vendor/moment.js"></script>
  <script src="/javascripts/vendor/jquery-1.9.1.js"></script>
  <script src="/javascripts/vendor/object.extend.js"></script>
  <script src="/javascripts/vendor/raphael-2.1.0.js"></script>

  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/socketeer.js"></script>
  <script src="/javascripts/canvas_board.js"></script>

  <script src="/javascripts/board/field.js"></script>
  <script src="/javascripts/board/stone.js"></script>
  <script src="/javascripts/board/svg_board.js"></script>

  <script src="/javascripts/score.js"></script>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/games/cloned_game.js"></script>
  <script src="/javascripts/games/reversi_game.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script>
    var chat   = new Chat('#chat', io.connect('/chat'), { channel: 'game-{{game.id}}' }),
        logger = (function() {
          return {
            log: function(text) {
              chat.line(text, 'system');
            }
          }
        }()),
        games  = {
          Multiplication: ClonedGame,
          Reversi: ReversiGame
        };

    new games['{{game.type}}']('#gamefield', {
      // game specific config
      boardSize: 8,
      cellWidth: 40,

      // score element
      score: '#score',
      players: {{{json game.players}}},

      // general config
      socket: io.connect('/'),
      socketeerId: '{{socketeerId}}',
      {{#if game.started}}
      stones: {{{json game.board.stones}}},
      gameStarted: {{game.started}},
      actualPlayer: {{game.actualPlayer}},
      {{/if}}
      {{#if game.ended}}
        winner: {{game.winner}},
      {{/if}}
      gameId: '{{game.id}}',
      thisPlayerNr: {{thisPlayerPosition}},
      isSpectator: {{bool thisSpectator}},
      logger: logger
    });
  </script>
</body>
</html>
