<html>
<head>
  <title>Games, games, games, …</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div>Hallo: {{username}}</div>

  {{#if errorMessage}}
    <p class="error-message">{{errorMessage}}</p>
  {{/if}}

  {{#if waitingGames}}
    <h2>Your games waiting for players:</h2>
    <ul>
      {{#each waitingGames}}
        <li>Players: {{players}} - <a href="/game/{{id}}">go</a></li>
      {{/each}}
    </ul>
  {{/if}}

  {{#if runningGames}}
    <h2>Your running games:</h2>
    <ul>
      {{#each runningGames}}
        <li>
          Players: {{{playersList this}}} - <a href="/game/{{id}}">go</a>
          ({{turns}} turns played)
        </li>
      {{/each}}
    </ul>
  {{/if}}

  <h2>Start a new game:</h2>
  <ul>
    <li><a href="/game/multiplication/new">of <strong>cloned</strong></a></li>
  </ul>

  {{#if openGames}}
    <h2>Games waiting for players:</h2>
    <ul>
      {{#each openGames}}
        <li>Players: {{players}} - <a href="/game/{{id}}/join">join</a></li>
      {{/each}}
    </ul>
  {{/if}}


  <div id="chat">
    <div class="content"></div>
    <input type="text">
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/vendor/moment.js"></script>
  <script src="/javascripts/vendor/jquery-1.9.1.js"></script>
  <script src="/javascripts/vendor/object.extend.js"></script>
  <script src="/javascripts/canvas.js"></script>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/chat.js"></script>
  <script>
    var chat   = new Chat('#chat', io.connect('http://localhost:8124/chat'), { channel: '{{channel}}' });
  </script>
</body>
</html>
