<div>Hallo: <a href="/profile/{{username}}">{{username}}</a></div>

<h2>Start a new game:</h2>
<ul>
  <li><a href="/game/Multiplication/new" data-method="post">of <strong>cloned</strong></a></li>
  <li><a href="/game/Reversi/new" data-method="post">of <strong>reversi</strong></a></li>
  <li><a href="/game/Morris/new" data-method="post">of <strong>Morris</strong></a></li>
</ul>

{{#if runningGames}}
  <section class="games-list">
    <h2>Games you are involved in:</h2>
    {{#each runningGames}}
      <div class="game-vcard game-{{lowercase type}}">
        {{#with opponent}}
          <a href="#" class="user-icon">
            <img src="{{avatarUrl}}" width="40" height="40">
          </a>
          <a href="{{profileUrl}}" class="name">{{name}}</a>
        {{/with}}

        <ul class="actions">
          {{#if isTurn}}
            <li><a href="/game/{{id}}">Make your turn</a></li>
          {{else}}
            <li><a href="/game/{{id}}">View the game</a></li>
          {{/if}}
        </ul>
        <ul class="stats">
          <li><span class="number">{{turns}}</span> Turns</li>
          {{#if isTurn}}
            <li>It's your turn</li>
          {{else}}
            <li>It's <a href="{{opponent.profileUrl}}">{{opponent.name}}</a>'s turn</li>
          {{/if}}
        </ul>
      </div>
    {{/each}}
  </section>
{{/if}}

{{#if openGames}}
  <section class="games-list">
    <h2>Games you could join:</h2>
    {{#each openGames}}
      <div class="game-vcard game-{{lowercase type}}">
        {{#with opponent}}
          <a href="#" class="user-icon">
            <img src="{{avatarUrl}}" width="40" height="40">
          </a>
          <a href="{{profileUrl}}" class="name">{{name}}</a>
        {{/with}}

        <ul class="actions">
          <li><a href="/game/{{id}}/join" data-method="put">Join this game</a></li>
        </ul>
        <ul class="stats">
          <li>Waiting for players</li>
        </ul>
      </div>
    {{/each}}
  </section>
{{/if}}

{{#if waitingGames}}
  <section class="games-list">
    <h2>Your games waiting for players</h2>
    {{#each waitingGames}}
      <div class="game-vcard game-{{lowercase type}}">
        <img src="???" width="40" height="40" class="user-icon">

        <ul class="actions">
          <li><a href="/game/{{id}}">View the game</a></li>
        </ul>
        <ul class="stats">
          <li>Waiting for players</li>
        </ul>
      </div>
    {{/each}}
  </section>
{{/if}}


<div id="chat">
  <div class="content"></div>
  <input type="text">
</div>
{{{js 'webpage'}}}
<script>
  // TODO: make the chat work
  var chat   = new Chat('#chat', io.connect('http://localhost:8124/chat'), { channel: '{{channel}}' });
</script>
