<div class="fixed-bar">
  <ul class="nav-bar">
    <li><a href="/" class="home">Boardgames</a></li>
    <li class="username-you"><a href="/profile/{{username}}">{{username}}</a></li>
  </ul>
</div>

<div class="row">
  <div class="twothird">
    <section class="games-list">
      <h2 class="bordered">Start a new game:</h2>

      <a class="play-game-button" data-layer="game-layer-cloned" href="#">Cloned</a>
      <a class="play-game-button" data-layer="game-layer-reversi" href="#">Reversi</a>
      <a class="play-game-button" data-layer="game-layer-morris" href="#">Morris</a>
      <a class="play-game-button" data-layer="game-layer-tafl" href="#">Tablut</a>
    </section>


    <section class="main-stats">
      <h2 class="bordered"><span class="verb">You have…</span></h2>
      <p><span class="verb">started</span> <span class="number">{{user.statistics.gamesStarted}}</span> {{#ifSingular user.statistics.gamesStarted}}game{{else}}games{{/ifSingular}} yourself.</p>
      <p><span class="verb">joined</span> <span class="number">{{user.statistics.gamesJoined}}</span> {{#ifSingular user.statistics.gamesJoined}}game{{else}}games{{/ifSingular}}.</p>
      <p><span class="verb">won</span> <span class="number">{{user.statistics.gamesWon}}</span> {{#ifSingular user.statistics.gamesWon}}game{{else}}games{{/ifSingular}}.</p>
      <p><span class="verb">lost</span> <span class="number">{{user.statistics.gamesLost}}</span> {{#ifSingular user.statistics.gamesLost}}game{{else}}games{{/ifSingular}}.</p>
    </section>
  </div>

  <div class="third">
    {{#if runningGames}}
      <section class="games-list">
        <h2 class="bordered">Games you are playing:</h2>
        {{#each runningGames}}
          <div class="game-vcard game-{{lowercase type}}">
            {{#with opponent}}
              <a href="#" class="user-icon">
                <img src="{{avatarUrl}}" width="40" height="40">
              </a>
              <a href="{{profileUrl}}" class="name">{{name}}</a>
            {{/with}}

            <ul class="actions">
              {{#if isTurn}}
                <li><a href="/game/{{id}}">Make your turn</a></li>
              {{else}}
                <li><a href="/game/{{id}}">View the game</a></li>
              {{/if}}
            </ul>
            <ul class="stats">
              <li><span class="number">{{turns}}</span> Turns</li>
              {{#if isTurn}}
                <li>It's your turn</li>
              {{else}}
                <li>It's <a href="{{opponent.profileUrl}}">{{opponent.name}}</a>'s turn</li>
              {{/if}}
            </ul>
          </div>
        {{/each}}
      </section>
    {{/if}}

    {{#if openGames}}
      <section class="games-list">
        <h2 class="bordered">Games you could join:</h2>
        {{#each openGames}}
          <div class="game-vcard game-{{lowercase type}}">
            {{#with opponent}}
              <a href="#" class="user-icon">
                <img src="{{avatarUrl}}" width="40" height="40">
              </a>
              <a href="{{profileUrl}}" class="name">{{name}}</a>
            {{/with}}

            <ul class="actions">
              <li><a href="/game/{{id}}/join" data-method="put">Join this game</a></li>
            </ul>
            <ul class="stats">
              <li>Waiting for players</li>
            </ul>
          </div>
        {{/each}}
      </section>
    {{/if}}

    {{#if waitingGames}}
      <section class="games-list">
        <h2 class="bordered">Your games waiting for players</h2>
        {{#each waitingGames}}
          <div class="game-vcard game-{{lowercase type}}">
            <span class="user-icon question">?</span>

            <ul class="actions">
              <li><a href="/game/{{id}}">View the game</a></li>
              <li><a href="/game/{{id}}" data-method="delete">Delete game</a></li>
            </ul>
            <ul class="stats">
              <li>Waiting for players</li>
            </ul>
          </div>
        {{/each}}
      </section>
    {{/if}}
  </div>
</div>


{{> partials/_chat}}
{{{js 'webpage'}}}
<script>
  var chat   = new Chat('#chat', io.connect('/chat'), {
        channel: '{{channel}}',
        username: '{{username}}',
        hideable: true
      });
</script>

<section id="game-layer-cloned" class="layer full-size is-closed">
  <div class="wrap">
    <div class="normal-text">
      <h1>Start a game of Cloned  <a href="#" class="help-link">What is Cloned?</a></h1>
      <div class="button-line">
        <a href="/game/Multiplication" data-method="post" class="button positive">Open for all</a>
        <a href="#" class="cancel-link">I reconsidered…</a>
      </div>
    </div>
    <div class="help-text">
      <h1>How to play Cloned  <a href="#" class="help-link">I understand</a></h1>
      <p>TODO: Here will be some help text.</p>
      <a href="#" class="help-link">Thanks, enough help.</a>
    </div>
  </div>
</section>

<section id="game-layer-reversi" class="layer full-size is-closed">
  <div class="wrap">
    <div class="normal-text">
      <h1>Start a game of Reversi <a href="#" class="help-link">What is Reversi?</a></h1>
      <div class="button-line">
        <a href="/game/Reversi" data-method="post" class="button positive">Open for all</a>
        <a href="#" class="cancel-link">I reconsidered…</a>
      </div>
    </div>
    <div class="help-text">
      <h1>How to play Reversi  <a href="#" class="help-link">I understand</a></h1>
      <p>For now you can read the rules on Wikipedia: <a href="http://en.wikipedia.org/wiki/Reversi#Rules">http://en.wikipedia.org/wiki/Reversi#Rules</a>.</p>
      <a href="#" class="help-link">Thanks, enough help.</a>
    </div>
  </div>
</section>

<section id="game-layer-morris" class="layer full-size is-closed">
  <div class="wrap">
    <div class="normal-text">
      <h1>Start a game of Nine Men's Morris  <a href="#" class="help-link">What is Morris?</a></h1>
      <div class="button-line">
        <a href="/game/Morris" data-method="post" class="button positive">Open for all</a>
        <a href="#" class="cancel-link">I reconsidered…</a>
      </div>
    </div>
    <div class="help-text">
      <h1>How to play Nine Men's Morris  <a href="#" class="help-link">I understand</a></h1>
      <p>For now you can read the rules on Wikipedia: <a href="http://en.wikipedia.org/wiki/Nine_Men%27s_Morris#Game_rules">http://en.wikipedia.org/wiki/Nine_Men%27s_Morris#Game_rules</a>.</p>
      <a href="#" class="help-link">Thanks, enough help.</a>
    </div>
  </div>
</section>

<section id="game-layer-tafl" class="layer full-size is-closed">
  <div class="wrap">
    <div class="normal-text">
      <h1>Start a game of Tablut  <a href="#" class="help-link">What is Tablut?</a></h1>
      <div class="button-line">
        <a href="/game/Tafl" data-method="post" class="button positive">Open for all</a>
        <a href="#" class="cancel-link">I reconsidered…</a>
      </div>
    </div>
    <div class="help-text">
      <h1>How to play Tablut  <a href="#" class="help-link">I understand</a></h1>
      <p>For now you can read the rules on Wikipedia: <a href="http://en.wikipedia.org/wiki/Tafl_games#Tablut">http://en.wikipedia.org/wiki/Tafl_games#Tablut</a>.</p>
      <a href="#" class="help-link">Thanks, enough help.</a>
    </div>
  </div>
</section>
