<div class="fixed-bar">
  <ul class="nav-bar">
    <li><a href="/" class="home">Boardgames</a></li>
    <li class="username-you"><a href="/profile/{{username}}">{{user.username}}</a></li>
  </ul>
</div>

<h1>User: {{user.username}}</h1>
<img src="{{user.avatarUrl}}&s=120">
{{#if isOwnProfile}}
  <a href="https://gravatar.com/{{user.emailHash}}" target="_blank">Change image on Gravatar.</a>
{{/if}}
<ul>
  <li><strong>registered since</strong> {{datetime user.createdAt '%d %B %Y'}}</li>
  <li><strong>gamesStarted:</strong> {{user.statistics.gamesStarted}}</li>
  <li><strong>gamesJoined:</strong> {{user.statistics.gamesJoined}}</li>
  <li><strong>gamesWon:</strong> {{user.statistics.gamesWon}}</li>
  <li><strong>gamesLost:</strong> {{user.statistics.gamesLost}}</li>
</ul>
